OPTIDOCK_ORACLE_USER=SNGHSHER1_SCHEMA_5NVAY
OPTIDOCK_ORACLE_PASSWORD=
OPTIDOCK_ORACLE_CONNECT_STRING=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
GEMINI_API_KEY=AIzaSyAJfkkcRrcZAHh01RV-ZfbgbR9b7ed0KeM